# Dependencies
node_modules/

# Build output
.next/
out/

# Misc
.vercel
.turbo
.eslintcache
*.tsbuildinfo

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
